.body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  margin: 0;
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 36px;
}

.my-title {
  font-size: 32px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.my-container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.btn-test {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: #579AFF;
  color: #323232;
  font-size: 30px;
  margin-top: 60px;
}